<!-- main section -->
<section class="maincontent">
    <div class="innercontainer">
        <img class="logo" src="./img/mainlogo.png" />
        <h1>Send & receive any type of files on the go</h1>
        <div class="buttonarea">
            <div id="sendbutton">
                <img src="./img/send.png" />
                <p>send</p>
            </div>
            <div id="receivebutton">
                <img src="./img/receive.png" />
                <p>receive</p>
            </div>
            <div id="inviteButton">
                <img src="./img/invite.png" />
                <p>invite</p>
            </div>
            <div id="friendsbutton">
                <img src="./img/friends.png" />
                <p>friends</p>
            </div>
        </div>
    </div>
</section>