body {
  background-color: #dbdbdb;
  box-sizing: border-box;
  color: white;
}

input:focus {
  outline: none;
}

.maincontent {
  display: inline;
}

.fcontainer {
  height: 100%;
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}

.left-pannel {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.left-pannel > .search-pannel {
  height: 160px;
  background-color: #032535;
  text-align: center;
}

.pannel-text {
  color: white;
  float: left;
  margin: 30px 0px 18px 35px;
  font-size: 1.2rem;
}

.search-box > input[type="text"] {
  width: 280px;
  height: 38px;
  padding-right: 50px;
  padding-left: 20px;
  font-size: 1rem;
  border: 0;
  border-radius: 18px;
}

.search-box > .search-btn {
  margin-left: -55px;
  width: 50px;
  background: none;
  border: 0;
}

.left-pannel > .contacts-bar {
  margin-top: 15px;
  background-color: #032535;
  height: 650px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.left-pannel > .contacts-bar:hover {
  overflow-y: auto;
}
.contacts-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
  background-color: #032535;
}

.contacts-bar::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.contacts-bar::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #243740;
}

.contacts {
  margin: 0 30px;
}

.contact {
  width: 100%;
  height: 60px;
  padding: 5px 0;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
}

.status {
  height: 15px;
  width: 15px;
  background-color: #0ebf49;
  border-radius: 50%;
  display: inline-block;
}

.user-img {
  flex: 1.2;
  margin: 0 0 0 15px;
}

.user-img > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.user-name {
  flex: 5;
  font-size: 1.2rem;
  padding-left: 15px;
  color: white;
  overflow: hidden;
}

.options {
  width: 25px;
  height: 25px;
  background-image: url("../img/Close.svg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  cursor: pointer;
}

.options:hover {
  opacity: 0.8;
}

.right-pannel {
  width: 75%;
  height: 825px;
  background-color: #fff;
  margin-left: 15px;
}

.chat-head {
  width: 95%;
  background-color: #032535;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.chat-head > .user-img {
  flex: 0;
}

.chat-head > .user-name {
  font-size: 1.4rem;
}

.chat-head > .options {
  flex: 0.2;
}

.chat-body > .main-pannel {
  height: 550px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-body > .chat-footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-body > .chat-footer > .send-btn {
  background-color: #4bb7a1;
  font-size: 1.5rem;
  padding: 15px 38px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.chat-body > .chat-footer > .footer-text {
  font-size: 1.2rem;
  color: #828383;
}

.top-wrapper {
  position: absolute;
  width: 620px;
  height: 125px;
  border-radius: 20px 20px 0 0;
  background-color: #032535;
}

.bottom-wrapper {
  top: 125px;
  position: relative;
  width: 620px;
  height: 75px;
  border-radius: 0 0 20px 20px;
  background-color: #061d27;
}

.fileshare-progress,
.fileshare-statusbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  color: white;
}

.cancel-btn {
  border: 1px solid rgba(202, 202, 202, 0.5);
  padding: 8px 20px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.cancel-btn:hover {
  border: 1px solid white;
  color: white;
}

.accept-btn {
  background-color: #4bb7a1;
  padding: 8px 20px;
  font-size: 1rem;
}

.fileshare-progress > .media-icon {
  flex: 1;
}

.fileshare-progress > .progressbar {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.progressbar > .share-percentage {
  color: rgba(255, 255, 255, 0.6);
}

.progressbar > .main-bar {
  margin: 15px 0 12px 0;
  background-color: #fff;
  position: relative;
  height: 5px;
  background-color: #0000002f;
  border-radius: 4px;
}

.main-bar > .sub-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 5px;
  background-color: #33bea8;
  border-radius: 4px;
  transition: width 0.3s linear;
}
