@import url("https://fonts.googleapis.com/css?family=Nunito|Muli|Oxygen|Nunito+Sans&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "oxygen", sans-serif;
}

.mynavbar {
  padding: 15px 120px;
  background-color: #032535;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mynavbar .left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mynavbar .right {
  display: flex;
  align-items: center;
}

.mynavbar .left img {
  margin-right: 10px;
  width: 40px;
}

.mynavbar .left .logoname {
  color: #ebfffb;
  margin-bottom: 0px;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
}

.usercircle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  color: #ebfffb;
  line-height: 40px;
  text-align: center;
  background: #ff5858;
  cursor: pointer;
}

.orangebtn {
  background: #ff5858;
  margin-right: 10px;
}

.greenbtn {
  background: #50c8b0;
}

.button {
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 6px;
  border-radius: 20px;
  cursor: pointer;
}

.dropbox {
  width: 300px;
  margin: 0;
  padding: 30px 0;
  display: flex;
  align-items: center;
  align-self: flex-end;
  background-color: white;
  position: absolute;
  z-index: 1;
  left: 1423px;
}

.dropbox > .usercircle {
  width: 95px;
  height: 95px;
  font-size: 45px;
  line-height: 90px;
  flex: 1;
  margin: 0 10px 0 10px;
}

.dropbox > .dropbox-content {
  flex: 2;
  overflow: hidden;
}

.dropbox-content > .username {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
}

.dropbox-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.dropbox-btn > button,
.dropbox-btn > div {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.logout-btn {
  padding: 6px 20px;
  border-radius: 20px;
  background-color: #284553;
  color: white;
  border: none;
}

.dN {
  visibility: hidden;
}

.DN {
  display: none;
}

.shadow {
  box-shadow: 3px 3px 5px 6px #ccc;
}

.maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.innercontainer {
  position: absolute;
  text-align: center;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innercontainer .logo {
  width: 60px;
}

.innercontainer img {
  width: 80px;
}

.buttonarea {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

.buttonarea div {
  cursor: pointer;
}

.buttonarea p {
  margin: 0;
  color: #032535;
  font-size: 1.3rem;
  font-weight: bold;
}

.innercontainer h1 {
  margin-top: 20px;
  color: #032535;
  line-height: 3rem;
  font-size: 2.3rem;
  letter-spacing: 1px;
}

.modal-content {
  margin-top: 25vh;
}

@media (max-width: 500px) {
  .mynavbar {
    padding: 10px 30px;
  }
  .mynavbar .right {
    flex-direction: column;
  }
  .mynavbar .left img {
    margin-right: 10px;
    width: 30px;
  }
  .mynavbar .right form {
    display: inline;
  }
  .mynavbar .left .logoname {
    font-size: 1.2rem;
  }
  .greenbtn {
    background: none;
    margin: 5px 0;
    padding: 0;
  }
  .greenbtn:hover {
    padding: 0;
    color: #aab4b2;
    text-decoration: underline;
  }
  .innercontainer {
    padding: 30px;
  }
  .innercontainer .logo {
    width: 55px;
  }
  .innercontainer h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .innercontainer img {
    width: 70px;
  }
  .buttonarea {
    margin: 30px;
    flex-direction: column;
  }
  .buttonarea div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .buttonarea p {
    transform: translateX(-18px);
    padding: 8px 30px;
    width: 100%;
    text-align: start;
    font-size: 1.2rem;
    background-color: #61234e;
    color: #ebfffb;
    border-radius: 15px;
  }
  .dropbox {
    display: none;
  }
}
